global
  log 127.0.0.1 local0
defaults
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s
frontend public_http
  bind *:80
  default_backend app_pool
backend app_pool
  balance roundrobin
  server web01 10.10.12.21:80 check
  server web02 10.10.12.22:80 check
  server web03 10.10.12.23:80 check
